
        * {
            margin: 0;
        }

        body {
            background-color: rgb(0, 0, 0);
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            z-index: 3;
            padding-top: 10px;
            position: sticky;
            top: 0;
        }

        .navbar li {
            border: #8492a7 solid 1px;
            border-style: none;
            border-bottom-style: none;
            list-style: none;
            display: flex;
            font-size: 1.5em;
            width: 52%;
            position: relative;
            top: -1rem;
            justify-content: center;
            color: black;
            align-items: center;
            gap: 1rem;
            height: 5rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            background: linear-gradient(180deg, #29f2d1, #8c9bb1);
            box-shadow: 0rem 0rem 1rem 1rem #8c9bb1;

        }

        .navbar li ul:hover {
            cursor: pointer;
        }

        .navbar img {
            height: 5rem;

        }

        .headerImg {
            display: flex;
            justify-content: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        .titles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        .titles img {
            height: 3rem;
            width: 17rem;
        }

        #robowars {
            height: 4rem;
            width: 28rem;
        }

        .topBtns {
            display: flex;
            justify-content: center;
            gap: 4rem;
        }

        .register,
        .rulebook {
            height: 6rem;
            width: 16rem;
            font-size: 2em;
            border-radius: 50px;
            transition: all 0.15s;
            border: none;
        }

        .register {
            background-color: #29f2d1;
            color: #000000;

        }

        .rulebook {
            background: #8c9bb1;
            color: #ffffff;
        }

        .register:hover {

            box-shadow: 0rem 0rem 1rem 1rem #1a9782;
        }

        .rulebook:hover {
            box-shadow: 0rem 0rem 1rem 1rem #555e6b;
        }

        .register:hover,
        .rulebook:hover {
            cursor: pointer;

        }


        .divide {
            display: flex;
            justify-content: center;
            margin-top: 8rem;
            margin-bottom: 8rem;
        }

        .divider {
            align-self: center;
            background-color: #f0f8ff;
            border: 0.012rem solid #ffffff;
            stroke: 1rem 1rem 0rem 1rem white;
            box-shadow: 2px 2px white;
            height: 0.125rem;
            opacity: .7;
            transform: rotate(-.12deg);
            width: 70%;

        }

        .aboutUs,
        .aboutgravitas,
        .media,
        .faq,
        .sponsers,
        .contactus {
            display: flex;
            align-items: center;
            margin-top: 5rem;
            flex-direction: column;
            gap: 2rem;
        }

        .aboutUsText,
        .aboutgravitasText,
        .media h1,
        .faq h1,
        .sponsers h1,
        .contactus h1 {
            color: #29f2d000;
            font-size: 5rem;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            -webkit-text-stroke-color: #ffffff;
            -webkit-text-stroke-width: 2px;
            text-underline-offset: 0.25em;
            margin-bottom: 4rem;
        }

        #robowarsvideo {
            border-right: 2px rgb(245, 245, 245) solid;
            border-left: 2px rgb(255, 255, 255) solid;
            border-top: 2px #29f2d1 solid;
            border-bottom: 2px#29f2d1 solid;
            margin-bottom: 2rem;
            padding: 5px;
        }

        /* Switch start */
        .tgl {
            position: relative;
            display: inline-block;
            width: 5em;
            height: 1em;
            font-size: 1rem;
        }

        .tgl input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 30px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 3.4em;
            width: 1.4em;
            border-radius: 20px;
            left: 0.3em;
            bottom: -1.3em;
            background-color: #ffffff;
            box-shadow: 0px 0px 5px #0009;
            transition: 1s cubic-bezier(0.49, -1.3, 0.45, 2.44);
        }

        .tgl input:checked+.slider {
            background-color: #2196F3;
        }

        .tgl input:checked+.slider:before {
            transform: translateX(2.5em) rotateZ(-180deg);
        }

        /* Switch end */


        .switch {
            display: flex;
            color: white;
            font-size: 3rem;
            font-style: italic;
            gap: 2rem;
            align-items: center;
            cursor: default;
        }

        .shortDescription {
            align-items: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .mainDescription {
            color: white;
            margin-top: 4rem;
            width: 68%;
            font-size: 2rem;
            text-align: center;
            border-bottom: 2px rgb(245, 245, 245) solid;
            border-top: 2px rgb(255, 255, 255) solid;
            border-left: 2px #29f2d1 solid;
            border-right: 2px#29f2d1 solid;
        }

        .gravitasDescription {
            color: white;
        }

        .gravitasDescription p {
            font-size: 2rem;
        }

        .aboutgravitas img {
            height: 4rem;
        }

        .temp {
            display: flex;
            align-items: center;
            width: 69%;
            gap: 2rem;
            margin-top: 4rem;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            /* Adjust the gap between items as needed */
            grid-auto-rows: minmax(100px, auto);
            width: 60%;
        }

        .img {
            width: 100%;
            text-align: center;
        }

        #img1 {
            grid-column: span 2;
            grid-row: span 2;
            width: 30rem;
            animation-name: img1;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
        }

        @keyframes img1 {
            from {
                translate: -100%;
            }

            to {
                translate: 0;
            }
        }


        #img2 {
            grid-column: span 2;
            grid-row: span 2;
            height: 23rem;
            animation-name: img2;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
        }

        @keyframes img2 {
            from {
                translate: -70% 80%;
            }

            to {
                translate: 0;
            }
        }

        #img3 {
            grid-row: span 3;
            height: 38rem;
            width: 37rem;
            position: relative;
            bottom: 46%;
            animation-name: img3;
            right: 28rem;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            
        }

        @keyframes img3 {
            from {
                translate: 200% 70%;
            }

            to {
                translate: 0;
            }
        }

        #img4 {
            position: relative;
            bottom: 15rem;
            height: 22rem;
            /* margin-top: 19rem; */
            top: -2rem;
            left: 15rem;
            width: 46rem;
            animation-name: img4;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
        }

        @keyframes img4 {
            from {
                translate: 0 100%;
            }

            to {
                translate: 0 0;
            }
        }

        .animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}

        .card {
            position: relative;

            width: 20rem;
            height: 25rem;
            background: linear-gradient(112deg, #8c9bb1 0%, #6f6f6f 100%);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            padding: 1rem;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card svg {
            width: 48px;
            fill: #333;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card:hover {
            transform: rotate(-5deg) scale(1.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .card__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;
            background-color: #29f2d1;
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card:hover .card__content {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }

        .card__title {
            margin: 0;
            font-size: 40px;
            color: #333;
            font-weight: 700;
        }

        .card__description {
            margin: 10px 0 0;
            font-size: 24px;
            color: #000000;
            line-height: 1.4;
        }

        .card:hover svg {
            scale: 0;
            transform: rotate(-45deg);
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 70%;
            gap: 7rem;
        }

        .containor {
            display: flex;
            gap: 18rem;
            justify-content: center;
            margin-bottom: 8rem;
        }

        .contactus img {
            z-index: 0;
            position: absolute;
            margin-top: 8rem;
        }

        .card1 {
            position: relative;
            width: 200px;
            height: 200px;
            background: lightgrey;
            width: 20rem;
            height: 22rem;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: all 1s ease-in-out;
        }

        .background {
            position: absolute;
            inset: 0;
            background: radial-gradient(circle at 100% 107%, #d4b8c8 0%, #3fdfca 43%, #00ffeeb5 88%, #62c2fe 100%);

        }

        .logo {
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
            transition: all 0.6s ease-in-out;
        }

        .logo .logo-svg {
            fill: white;
            width: 30px;
            height: 30px;
        }

        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
        }

        .icon .svg {
            fill: rgba(255, 255, 255, 0.797);
            width: 100%;
            transition: all 0.5s ease-in-out;
        }

        .box {
            position: absolute;
            padding: 10px;
            text-align: right;
            background: rgba(255, 255, 255, 0.389);
            border-top: 2px solid rgb(255, 255, 255);
            border-right: 1px solid white;
            border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
            box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
            transform-origin: bottom left;
            transition: all 1s ease-in-out;
        }

        .box::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        .box:hover .svg {
            fill: white;
        }

        .box1 {
            width: 70%;
            height: 70%;
            bottom: -70%;
            left: -70%;
        }

        .box1::before {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
        }

        .box1:hover::before {
            opacity: 1;
        }

        .box1:hover .icon .svg {
            filter: drop-shadow(0 0 5px white);
        }

        .box2 {
            width: 50%;
            height: 50%;
            bottom: -50%;
            left: -50%;
            transition-delay: 0.2s;
        }

        .box2::before {
            background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
        }

        .box2:hover::before {
            opacity: 1;
        }

        .box2:hover .icon .svg {
            filter: drop-shadow(0 0 5px white);
        }

        .box3 {
            width: 30%;
            height: 30%;
            bottom: -30%;
            left: -30%;
            transition-delay: 0.4s;
        }

        .box3::before {
            background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
        }

        .box3:hover::before {
            opacity: 1;
        }

        .box3:hover .icon .svg {
            filter: drop-shadow(0 0 5px white);
        }

        .box4 {
            width: 10%;
            height: 10%;
            bottom: -10%;
            left: -10%;
            transition-delay: 0.6s;
        }

        .card1:hover {
            transform: scale(1.1);
        }

        .card1:hover .box {
            bottom: -1px;
            left: -1px;
        }

        .card1:hover .logo {
            transform: translate(0, 0);
            bottom: 20px;
            right: 20px;
        }

        .info {
            color: white;
        }

        .maincontact {
            display: flex;
            width: 70%;
            gap: 44rem;
            align-items: center;
            justify-content: space-around;
        }